:root{
    --input-field-color: #000;
    --input-field-border-color: #767676;

    --label-color: #2c3e50;

    --btn-color: #fff;
    --btn-border-color: transparent;
    --btn-bg-color: #00BC77;
    --btn-disabled-color: #B8C4CE;
    --btn-disabled-bg-color: #F0F0F0;
}

.form-wrapper{
    width: 100%;
    padding: 0 2rem;
    max-width: 300px;
    margin: auto;

}

.form-flex{
    display: flex;
    flex-direction: column;
}

.input-label{
    color: var(--label-color);
    font-weight: 700;
}

.input-field{
    padding: 5px;
    border: 1px solid var(--input-field-border-color);
    border-style: inset;
    color: var(--input-field-color);
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;


    &::placeholder{
        color: var(--input-field-color);
        opacity: .75;
    }

}

.input-checkbox{
    margin-bottom: 1rem;
}

.btn{
    text-align: center;
    padding: .5rem 1rem;
    border: 2px solid var(--btn-border-color);
    color: var(--btn-color);
    background: var(--btn-bg-color);
    cursor: pointer;
    transition: all .2s ease-in;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: underline;

    &:disabled{
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-bg-color);
        cursor: default;
        color: var(--btn-disabled-color);
        opacity: .75;
    }
}