.content{
    padding: 3rem 0;
    background: #12002B;
    width: 100%;
    position: relative;
    height: calc(100vh - (64px + 82px));
    box-sizing: border-box;
}

.notification{
    width: 100%;
    margin: 0 auto 2rem;

}

.login-wrapper{
    background: #fff;
    padding: 2rem;
    text-align: left;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;

    & header{
        text-align: center;
    }
}